In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 用range快速生成list

In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [3]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [4]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## for迴圈

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
s=0
for i in range(1,101):
    s = s+i

In [13]:
s

5050

### list append

In [14]:
prices = [1024, 399, 20000]

In [15]:
c = 34.1415677

In [18]:
for p in prices:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [19]:
L = []

In [20]:
L.append(87)

In [21]:
L

[87]

In [22]:
L.append("拍拍")

In [23]:
L

[87, '拍拍']

In [24]:
L.append(p*c)

In [25]:
L

[87, '拍拍', 682831.354]

### 字串分割

In [26]:
spam = input("輸入你要買東西的價格:")

輸入你要買東西的價格:1024,399,20000,600

In [27]:
spam

'1024,399,20000,600'

In [28]:
spam.split(',')

['1024', '399', '20000', '600']

In [29]:
data = spam.split(',')

In [30]:
data

['1024', '399', '20000', '600']

In [31]:
for p in data:
    p = float(p)
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062

In [34]:
spam = input("價格:")
c = 34.141
data = spam.split(',')
for p in data:
    p = int(p)
    print(list(p*c))

價格:100

TypeError: 'float' object is not iterable

In [35]:
p_list=[]
spam = input("價格:")
data = spam.split(',')

for p in data:
    p = float(p)
    p_list.append(p*c)
    print("價格",int(p*c),"台幣")

價格:100,287,999
價格 3414 台幣
價格 9798 台幣
價格 34106 台幣

In [36]:
p_list

[3414.1, 9798.466999999999, 34106.859]

In [37]:
spam = '399 199 1024 250'

In [40]:
spam.split(',')

['399 199 1024 250']

In [41]:
spam = ' 399  199 1024 9487'

In [43]:
spam.split(',')

[' 399  199 1024 9487']

In [44]:
spam.split()

['399', '199', '1024', '9487']

In [46]:
def exchange(p):
    p = float(p)
    return p*c

In [47]:
exchange("399")

13622.259

### Map

map(f,L)

把f這個函數作用到L list中的每一個元素

In [48]:
L = '333   1024 488  20000'.split()

In [49]:
L

['333', '1024', '488', '20000']

In [50]:
list(map(exchange,L))

[11368.953, 34960.384, 16660.808, 682820.0]

### 緊急用函數lambda

In [51]:
def f(x):
    return x**2

In [52]:
f(2)

4

In [53]:
g = lambda x:x**2

In [54]:
g(3)

9

In [55]:
L

['333', '1024', '488', '20000']

In [56]:
list(map(lambda p:float(p)*c,L))

[11368.953, 34960.384, 16660.808, 682820.0]

In [57]:
K = [9,7,6,8,3]

In [58]:
list(map(lambda x:int(x)*2+1,K))

[19, 15, 13, 17, 7]

### list comprehension

In [59]:
L

['333', '1024', '488', '20000']

In [60]:
[float(p)*c for p in L]

[11368.953, 34960.384, 16660.808, 682820.0]

### 合併 list

In [61]:
L

['333', '1024', '488', '20000']

In [69]:
s = ''

for i in L:
    s = s + i + ','

In [70]:
s.rstrip(',')

'333,1024,488,20000'

In [71]:
s

'333,1024,488,20000,'

In [72]:
s[0]

'3'

In [73]:
s[:-1]

'333,1024,488,20000'

In [74]:
L

['333', '1024', '488', '20000']

In [75]:
','.join(L)

'333,1024,488,20000'

### 物件中間的method

In [76]:
egg = [12,87,55,77,32]

In [79]:
egg.sort() #排序

In [80]:
egg

[12, 32, 55, 77, 87]

In [81]:
ham = '今天天氣很好'

In [83]:
ham[3]

'氣'

In [84]:
ham[::2]

'今天很'

In [86]:
ham[::-1]

'好很氣天天今'

In [87]:
def move(n=1):
    print(" "*n + "(QAQ)")

In [88]:
move()

 (QAQ)

In [90]:
interact(move, n=(1,40))

NameError: name 'interact' is not defined

In [91]:
from ipywidgets import interact

In [92]:
interact(move, n=(1,40))

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…